html {
  background: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  
  
  font-size: 18px;
}
html::-webkit-scrollbar {
  width: 1em;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: .3em solid #333;
  border-radius: 5em;
}
html * {
  line-height: 130%;
}

.main {
  padding: 6rem 0 12rem;
}

.memes {}

.memes__container {
  width: 100%;
  max-width: 80rem;

  padding: 0 6vw;
  box-sizing: border-box;

  margin: 0 auto;
}

.memes__row {
  display: flex;
  gap: 4em;

  margin-bottom: 4em;
}

.memes__col {
  flex: 1 1 50%;
}
.memes__col--1 {}
.memes__col--2 {
  display: flex;
  justify-content: flex-end;
}

.memes__title {
  font-size: 4em;
  font-weight: bold;

  margin-bottom: .5em;
}

.memes__text {
  font-size: 1.2em;
}

.memes__list {
  display: flex;
  flex-direction: column;
}

/*legend*/

.memes__legend {}

.memes-legend {
  font-size: 1.2em;
}

.memes-legend__list {
  display: flex;
  flex-direction: column;
  /*gap: 1em;*/
}

.memes-legend__item, .memes-legend__text {
  display: flex;
  align-items: center;
  gap: 1em;
}

.memes-legend__color {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.memes-legend__color--1 {
  background: orange;
}
.memes-legend__color--2 {
  background: darkcyan;
}

.memes-legend__text {}

/*item*/

.memes__item {}

.memes-item {
  display: flex;
}

.memes-item__label {
  display: flex;
  flex-direction: column;
  
  cursor: pointer;
}

.memes-item__wrapper {
  border-bottom: .2em solid;
}

.memes-item__input-check {
  display: none;
}
.memes-item__input-check:not(:checked) ~ .memes-item__wrapper .memes-item__content, .memes-item__label:not(:hover) .memes-item__content {
  transition: .25s ease;
  height: 0;
  padding: 0;
  opacity: 0;
}
.memes-item__input-check:checked ~ .memes-item__wrapper .memes-item__content, .memes-item__label:hover .memes-item__content {
  transition: .5s ease;
  opacity: 1;
  padding: 0 0 2em;
  height: 20em;
}
.memes-item__label:not(:hover) .memes-item__svg-icon {
  transition: transform .25s ease;
  transform: rotate(-135deg);
}
.memes-item__label:hover .memes-item__svg-icon {
  transition: transform .5s ease;
  transform: none;
  color: orange;
}
.memes-item__label:hover .memes-item__title {
  color: orange;
}
.memes-item__label:hover .memes-item__wrapper {
  border-color: orange;
}
.memes-item__input-check:checked ~ .memes-item__wrapper .memes-item__heading .memes-item__title {
  color: darkcyan;
}
.memes-item__input-check:checked ~ .memes-item__wrapper {
  border-color: darkcyan;
}
.memes-item__input-check:checked ~ .memes-item__wrapper .memes-item__svg-icon {
  color: darkcyan;
}

.memes-item__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;

  padding: 2em 0;
}

.memes-item__title {
  font-size: 3em;
  font-weight: bold;
}

.memes-item__svg-icon {
  width: 2em;
  height: 2em;
  
  border: .2em solid;
  padding: .5em;
  
  border-radius: 50%;
}

.memes-item__content {
  display: block;
  overflow: hidden;
}